<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219378993167-qdorm5qq99ls1jb17ntlsqhbstfq2855.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219378993167-qdorm5qq99ls1jb17ntlsqhbstfq2855</string>
	<key>API_KEY</key>
	<string>AIzaSyATrzFSpn_TH4ckdL9F9qKLMuUXrLh-B5c</string>
	<key>GCM_SENDER_ID</key>
	<string>219378993167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapp.MyMessenger</string>
	<key>PROJECT_ID</key>
	<string>mymessenger-552a7</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessenger-552a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219378993167:ios:f0e28662ed0e5e4ab93b7a</string>
</dict>
</plist>